/* Шрифты */
/* "Helvetica Neue" */
/* "The Antiqua B" */

@font-face {
    font-family: "Antiqua";
    src: url("/fonts/antiqua.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Antiqua";
    src: url("/fonts/antiqua.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Marr Sans Condensed";
    src: url("/fonts/MarrSansCondensed-Medium-Web.woff2") format("woff2");
}

@font-face {
    font-family: "The Antiqua B";
    src: url("/fonts/TheAntiquaB-LeMonde.woff2") format("woff2");
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page__body {
    font-family: "Antiqua";
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #2a303b;
    font-size: 16px;
}

/* ОБЩИЕ СТИЛИ */
.title {
    font-family: "Marr Sans Condensed";
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    margin: 0;
    margin-bottom: 24px;
}

.text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 0;
    margin-bottom: 20px;
}

.second-text {
    font-family: "Marr Sans Condensed";
}

.text--red {
    color: red;
}

.text:last-child {
    margin-bottom: 0;
}

/* ФОТО */
.full-img {
    display: block;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

/* БЛОК КОНТЕНТА */
.content-block {
    width: 100%;
    box-sizing: border-box;
    min-width: 320px;
    max-width: 500px;
    margin: 0 auto;
    padding: 12px 16px;
}

/* ХЕДЕР  */
.main-header__wrapper {
    min-width: 320px;
    width: 100%;
    box-sizing: border-box;
    max-width: 500px;
    margin: 0 auto;
    padding: 15px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eff0f3;
    padding-left: 18px;
}

.main-header__column-wrapper--left {
    display: flex;
    align-items: center;
    height: 30px;
}

.main-header__link {
    display: flex;
    align-items: center;
}

.main-header__link-logo {
    margin-right: 16px;
}

.main-header__name {
    width: 97px;
    height: 21px;
}

.main-header__column-wrapper--right {
    display: flex;
    align-items: center;
    height: 30px;
}

.main-header__login-link {
    margin-right: 15px;
    padding-right: 10px;
    border-right: 1px solid #e2e4e9;
    display: flex;
    align-items: center;
}

.main-header__subscribe {
    width: 59px;
    height: 16px;
    font-size: 13px;
    background-color: #ffc700;
    border: 1px solid #ffc700;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
}

.main-header__subscribe:hover {
    background-color: #eab002;
}


/* МЕЙН */
.main-container {
    flex-grow: 1;
}


/* МЕЙН ОФФЕР */
.main-offer {
    padding-top: 27px;
}

.main-offer__group {
    margin: 0;
    color: #717b8e;
    text-transform: uppercase;
    line-height: 25px;
    font-weight: 400;
    font-family: "Marr Sans Condensed";
    font-size: 16px;
    margin-bottom: 13px;
    letter-spacing: 1px;
}

.main-container__title {
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
    margin-bottom: 12px;
    font-family: "The Antiqua B",Georgia,Droid-serif,serif;
    color: #2a303b;
}

.main-offer__title {
    margin-bottom: 16px;
}

.main-offer__author {
    font-family: Helvetica, Arial;
    color: #717b8e;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 16px;
}

.main-offer__publication-date {
    font-family: Helvetica, Arial;
    color: #717b8e;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    margin-bottom: 12px;
}

.time-elapsed {
    font-weight: 700;
}

.main-offer__social-wrapper {
    position: relative;
    width: 100%;
}

.main-offer__social-wrapper::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 1px;
    background-color: #bdc1c8;
    top: 100%;
}

.main-offer__social-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: end;
    padding-top: 12px;
    padding-bottom: 12px;
}

.main-offer__social-item {
    margin-right: 12px;
}

.main-offer__social-link {
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 50%;
    border: 1px solid #bdc1c8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px;
}

.main-offer__social-link--bookmarks {
    background-image: url("../img/icons/bookmarks.svg");
}

.main-offer__social-link--facebook {
    background-image: url('../img/icons/facebook.svg');
    background-size: 24px;
}

.main-offer__social-link--e-mail {
    background-image: url('../img/icons/e-mail.svg');
    background-size: 24px;
}

.main-offer__social-link--whatsUp {
    background-image: url('../img/icons/whatsUp.svg');
    background-size: 24px;
}

.main-offer__social-link--arrow {
    background-image: url('../img/icons/arrow.svg');
    background-size: 18px;
}


/* ВТОРОЙ ОФФЕР */
.second-offer__text {
    font-weight: 500;
}


/* ОТЗЫВ */


/* ПОКУПКА */
.purchase__content-text {
    margin-bottom: 20px;
}

.purchase__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    letter-spacing: 0.2px;
}

.purchase__item {
    margin-bottom: 20px;
}

.purchase__item:last-child {
    margin-bottom: 0;
}

.purchase__title {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 10px;
}

.purchase__text {
    margin: 0;
}


/* УСЛОВИЯ */
.terms__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-left: 10px;
    margin-left: 5px;
    border-left: 2px solid #eff0f3;
    margin-bottom: 20px;
}

.terms__item {
    margin-bottom: 10px;
    font-weight: 700;
}

.terms__item:last-child {
    margin-bottom: 0;
}

.terms__link-text {
    display: block;
    position: relative;
    text-decoration: none;
    width: 140px;
    background-color: #ffc700;
    border: 1px solid #ffc700;
    padding: 8px 16px;
    padding-right: 30px;
    cursor: pointer;
    border-radius: 5px;
}

.terms__link-text:hover {
    background-color: #eab002;
}

.terms__link-text::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-image: url("../img/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 8px;
    right: 6px;
}



/* КОММЕНТАРИЙ */
.comment__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.comment__item {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eff0f3;
}

.comment__wrapper-name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comment__img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.comment-name__text {
    font-size: 14px;
}

.comment-item__text {
    font-size: 13px;
    line-height: 18px;
}

/* Вопрос */
.comment__item--question {
    padding-left: 30px;
}

.comment__wrapper-name--question {
    display: flex;
    align-items: center;
}

.comment__img--question {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment__name--question {
    font-size: 14px;
}

.comment__item-text--question {
    font-size: 13px;
}

.comment__item-name--question {
    font-family: "Marr Sans Condensed";
    font-size: 13px;
}


/* ФУТЕР */
.main-footer {
    flex-shrink: 0;
    color: #e8eaee;
    background-color: #2a303b;
    padding-top: 25px;
    padding-bottom: 25px;
}

.main-footer__links-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #e8eaee;
    border-bottom: 1px solid #e8eaee;
    margin-bottom: 20px;
}

.main-footer__links-list {
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

.main-footer__link {
    font-size: 13px;
}


/* СОЦ СЕТИ */
.main-footer__social-list {
    font-size: 13px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-footer__social-item {
    position: relative;
    padding-left: 35px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 2px;
}

.main-footer__social-item::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    content: '';
    background-repeat: no-repeat;
}

.main-footer__social-item--header {
    margin-bottom: 15px;
    padding: 0;
}

.main-footer__social-item--facebook::before {
    background-image: url('../img/content/social/facebook.svg');
    background-position: 6px center;

}

.main-footer__social-item--youtube::before {
    background-image: url('../img/content/social/youtube.svg');
    background-position: 2px center;
}

.main-footer__social-item--twitter::before {
    background-image: url('../img/content/social/twitter.svg');
    background-position: 5px center;
}

.main-footer__social-item--instagram::before {
    background-image: url('../img/content/social/insta.svg');
    background-position: 5px center;
}

.main-footer__social-item--snapchat::before {
    background-image: url('../img/content/social/snapchat.svg');
    background-position: 5px center;
}

.main-footer__social-item--file::before {
    background-image: url('../img/content/social/file.svg');
    background-position: 6px center;
}

.main-footer__social {
    font-size: 13px;
}


