/* Шрифты */
/* "Helvetica Neue" */
/* "The Antiqua B" */

@font-face {
    font-family: "Marr Sans Condensed";
    src: url("/fonts/MarrSansCondensed-Medium-Web.woff2") format("woff2");
}

@font-face {
    font-family: "The Antiqua B";
    src: url("/fonts/TheAntiquaB-LeMonde.woff2") format("woff2");
}

.page__body {
    font-family: "The Antiqua B";
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #2a303b;
    font-size: 16px;
}

/* ОБЩИЕ СТИЛИ */
.title {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    margin: 0;
    margin-bottom: 24px;
}

.text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 0;
    margin-bottom: 20px;
}

/* ФОТО */
.full-img {
    width: 100%;
    object-fit: cover;
}


/* ХЕДЕР  */
.main-header__wrapper {
    min-width: 320px;
    width: 100%;
    box-sizing: border-box;
    max-width: 500px;
    margin: 0 auto;
    padding: 15px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eff0f3;
}

.main-header__column-wrapper--left {
    display: flex;
    align-items: center;
    height: 30px;
}

.main-header__link {
    display: flex;
    align-items: center;
}

.main-header__link-logo {
    margin-right: 16px;
}

.main-header__column-wrapper--right {
    display: flex;
    align-items: center;
    height: 30px;
}

.main-header__login-link {
    margin-right: 15px;
    padding-right: 5px;
    border-right: 1px solid #e2e4e9;
    display: flex;
    align-items: center;
}

.main-header__subscribe {
    width: 61px;
    height: 16.5px;
    font-size: 13px;
    background-color: #ffc700;
    border: 1px solid #ffc700;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
}


/* МЕЙН */
.main-container {
    flex-grow: 1;
}


/* МЕЙН ОФФЕР */
.main-offer {
    padding: 32px 16px;
}

.main-offer__group {
    margin: 0;
    color: #717b8e;
    text-transform: uppercase;
    line-height: 25px;
    font-weight: 400;
    font-family: "Marr Sans Condensed";
    font-size: 16px;
    margin-bottom: 16px;
    letter-spacing: 1px;
}

.main-container__title {
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
    margin-bottom: 12px;
    font-family: "The Antiqua B",Georgia,Droid-serif,serif;
    color: #2a303b;
}

.main-offer__social-wrapper {
    width: 100%;
}

.main-offer__social-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}


/* ФУТЕР */
.main-footer {
    flex-shrink: 0;
}

